body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-image: url('rick_and_morty_background.jpg'); 
    background-size: cover; 
    background-position: center; 
    font-family: Arial, sans-serif; 
    color: #fff; 
}
h1 {
    font-size: 2rem; 
    margin-bottom: 20px; 
    text-align: center; 
}